
#homebtn
{
    float:right
}

ul#homebtn li {
padding: 0;
text-align: center;
width: 135px;
height: 85px;
border: 1px solid #bcbcbc;
border-radius: 5px;
display: inline-block;
float: right;
margin: 4px;
background: #fff;
box-shadow: 2px 2px 2px #ddd;
padding-bottom: 10px;
transition-duration: .2s;
-moz-transition-duration: .2s;
-webkit-transition-duration: .2s;
-o-transition-duration: .2s;
transition-delay: .2s;
-moz-transition-delay: .2s;
-webkit-transition-delay: .2s;
-o-transition-delay: .2s;
}

ul#homebtn li:hover {
box-shadow: 2px 2px 3px #bdbdbd;
border-right: 1px solid #828282;
border-bottom: 1px solid #828282;
width: 143px;
margin: 4px 0;
background: #f8f6f6;
}

ul#homebtn li a span {
display: block;
padding-top:5px;
}

ul#homebtn li img {
margin: 0 auto;
margin-top: -7px;
height: 54px;
width: 54px;
transition-duration: .3s;
-moz-transition-duration: .3s;
-webkit-transition-duration: .3s;
-o-transition-duration: .2s;
transition-delay: .2s;
-moz-transition-delay: .2s;
-webkit-transition-delay: .3s;
-o-transition-delay: .3s;
position: relative;
top: 10px;
margin: 0 auto;
margin-bottom: 8px;
}

p{font:normal 12px tahoma;}::selection{background:#71d114;color:#fff}::-moz-selection{background:#71d114;color:#fff}body{margin:0;padding:0;width:100%;font:normal 14px 'tahoma',tahoma;direction:rtl;background:#ebebeb;background-image:url('../images/bg.gif')}html{padding:0;margin:0}a{text-decoration:none}a.hover{color:#da7a00}left{text-align:left;display:block;margin-top:15px;clear:both;background:#ececec;border:1px solid #dcdcdc;padding:3px 4px}.main{width:100%;padding:0;margin:0 auto}.header{height:57px;background:#212121}.block_header{margin:0 auto;width:950px;padding:0;border:0}.viewsitetag{float:left;padding:0 15px;margin:0;color:#fff;font-size:17px;padding-top:20px;text-align:left}.bloga_resize{background:url(../images/bg_body_top.gif) top repeat-x;height:225px}.bloga_resize2{background:url(../images/bg_body_top2.gif) top repeat-x;height:46px}.bloga_resizee{width:950px;margin:0 auto;padding:0}.bloga{width:289px;float:left;margin:0;padding:5px 5px 10px 20px;height:207px;overflow:hidden}.bloga h2{font:normal 20px "b yekan","byekan",tahoma;color:#fff;border-bottom:1px solid #3d3d3d;padding:10px 5px;margin:0;margin-bottom:6px}.bloga p{color:#acacac;font:normal 13px "b yekan","byekan",tahoma;line-height:1.6em;padding:5px 5px;margin:0}.bloga img.headerimg{float:left;margin:0;padding:0;margin-top:-45px;margin-left:-1px;opacity:.8}.bloga img.letter{margin:0 4px -5px 0}.bloga a{color:#ac5400;text-decoration:none}.body{border-top:1px solid #fff;background:#ebebeb;background-image:url('../images/bg.gif')}.body h2{font:normal 19px "b yekan","byekan",tahoma;color:#0b0b0b;padding:10px 5px;margin:0}.body h2.title{font:normal 19px "b yekan","byekan",tahoma;color:#0b0b0b;border-bottom:1px solid #b1b1b1;padding:10px 5px;margin:0;background:#dcdcdc;border-right:3px solid #79bf00;padding-right:10px}.body h2.title.red{border-right:3px solid #ea342b}.body h2.title.blue{border-right:3px solid #2b73ea}.body h2.title.purple{border-right:3px solid #c525b8}.body h2.title.green{border-right:3px solid #9ad300}.body h2.title.lightblue{border-right:3px solid #00d4f3}.body h2.title.yellow{border-right:3px solid #f6ff00}.body h2.title.gray{border-right:3px solid #797979}.body h3{font:normal 21px "b yekan","byekan",tahoma;color:#252525;padding:10px 5px;margin:0}.body h4{font:normal 13px "b yekan","byekan",tahoma;color:#252525;padding:10px 5px;margin:0}.body p,.body{font:normal 13px "b yekan","byekan",tahoma;color:#303030;line-height:1.8em;padding:5px 5px;margin:0}.body p.jus{text-align:justify}.body a{color:#81320b;text-decoration:none}.body em{color:#383838}.body_resize{width:950px;margin:0 auto;padding:0}.content{width:624px;float:right;margin:20px 5px 10px 5px;padding:5px}.sidebar{width:290px;float:left;margin:20px 0 10px 5px;padding:5px}.sidebar h3{font:normal 16px "b yekan","byekan",tahoma;text-align:center;padding:0;margin:4px 0}.fullcontent{width:100%;margin:20px 5px 0 5px;padding:0;padding-bottom:10px}.bordered{background:#f2f2f2;padding:10px;margin-top:5px;border:1px solid #ddd;margin-bottom:13px}.footer{padding:10px 0;margin:0;border-top:1px solid #b4b4b4;border-bottom:1px solid #b4b4b4;background:#e1e1e1;margin-top:20px}.footer_resize{width:950px;margin:0 auto;padding:0}.footer p{font:normal 11px "b yekan","byekan",tahoma;color:#5f5f5f}.footer a{font:normal 11px "b yekan","byekan",tahoma;color:#5f5f5f;padding:5px 5px;margin:0}.footer img{margin:2px 5px;padding:0}.footer p.leftt{text-align:left;width:50%;margin:0;padding:20px 0;float:left}.footer p.rightt{text-align:right;width:50%;margin:0;padding:20px 0;float:right}p.clr,.clr{clear:both;padding:0;margin:0;background:0}li.bg,.bg{clear:both;border-top:1px solid #dcdcdc;padding:0;margin:20px 0;background:0;line-height:0}.slider2{background:#b05a00;border-top:1px solid #c77d02;border-bottom:1px solid #8e3b11;margin:0 auto;padding:0;height:35px}.slider2_resize{width:950px;margin:0 auto;padding:0;padding:8px 10px 0 0;color:#dfdedd;font:normal 13px "b yekan","byekan",tahoma}.slider2_resize a{color:#fff;margin:0 4px}.slider2_resize a:hover{color:#2a2a2a}ul.ldd_menu{margin:0;padding:0;display:block;height:50px;list-style:none;font-family:"b yekan","byekan",tahoma}ul.ldd_menu a{text-decoration:none}ul.ldd_menu>li{font:normal 17px "b yekan","byekan",tahoma;padding-top:7px;float:right;position:relative;border-left:1px dashed #595959}ul.ldd_menu>li>span{font:normal 17px "b yekan","byekan",tahoma;float:right;color:#fff;height:50px;line-height:50px;cursor:default;padding:0 20px}ul.ldd_menu .ldd_submenu{position:absolute;top:57px;width:371px;display:none;opacity:.98;left:0;font-size:10px;background:#212121;border-top:1px solid #000;border-bottom:1px solid #151515;-moz-box-shadow:0 3px 4px #151515 inset;-webkit-box-shadow:0 3px 4px #151515 inset;-box-shadow:0 3px 4px #151515 inset;z-index:1000}.ldd_subfoot{background-color:#717070;color:#444;display:block;clear:both;color:#fff;padding:15px 20px;text-transform:uppercase;font-family:"b yekan","byekan",tahoma;font-size:13px;text-shadow:1px 1px 1px #000;-moz-box-shadow:0 0 2px #262626 inset;-webkit-box-shadow:0 0 2px #262626 inset;-box-shadow:0 0 2px #262626 inset}ul.ldd_menu ul{list-style:none;float:right;margin:10px 0 10px 0;padding:10px;padding-top:0;width:163px}li.ldd_heading{font-family:"b yekan","byekan",tahoma;font-size:18px;color:#7f7f7f;text-shadow:1px 1px 1px #000;padding:0 0 10px 0}ul.ldd_menu ul li{padding:2px 0}ul.ldd_menu ul li a{font-family:"b yekan","byekan",tahoma,serif;font-size:13px;line-height:20px;color:#fff;padding:1px 5px}ul.ldd_menu ul li a[href="#"]{color:#f00}ul.ldd_menu ul li a:hover{-moz-box-shadow:0 0 2px #333;-webkit-box-shadow:0 0 2px #333;box-shadow:0 0 2px #333;background:#4e4e4e;color:#fff}ul#homebtn li{padding:0;text-align:center;width:135px;height:85px;border:1px solid #bcbcbc;border-radius:5px;display:inline-block;float:right;margin:4px;background:#fff;box-shadow:2px 2px 2px #ddd;padding-bottom:10px;transition-duration:.2s;-moz-transition-duration:.2s;-webkit-transition-duration:.2s;-o-transition-duration:.2s;transition-delay:.2s;-moz-transition-delay:.2s;-webkit-transition-delay:.2s;-o-transition-delay:.2s}ul#homebtn li:hover{box-shadow:2px 2px 3px #bdbdbd;border-right:1px solid #828282;border-bottom:1px solid #828282;width:143px;margin:4px 0;background:#f8f6f6}ul#homebtn li img{margin:0 auto;margin-top:-7px;height:54px;width:54px;transition-duration:.3s;-moz-transition-duration:.3s;-webkit-transition-duration:.3s;-o-transition-duration:.2s;transition-delay:.2s;-moz-transition-delay:.2s;-webkit-transition-delay:.3s;-o-transition-delay:.3s;position:relative;top:10px;margin:0 auto;margin-bottom:8px}ul#homebtn li:hover img{width:70px;height:70px;margin-top:-20px;margin-bottom:12px;-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-ms-transform:rotate(360deg);-o-transform:rotate(360deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=4)}ul#homebtn li a{padding:0 3px}ul#homebtn li a span{display:block;font:normal 13px "b yekan","byekan",tahoma}ul#homebtn li a[href="#"]{color:#f00}span.title,label.title{display:inline-block;width:150px;margin-bottom:15px;vertical-align:top}div.title{float:right;width:150px}select{border:solid 1px #dcdcdc;min-width:100px;margin-bottom:5px;display:inline;color:#4e4e4e;-webkit-appearance:button;appearance:button;-moz-appearance:button;border-radius:7px 0 0 7px;-webkit-border-radius:7px 0 0 7px;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.1);box-shadow:0 1px 3px rgba(0,0,0,0.1);-webkit-padding-end:20px;-webkit-padding-start:2px;-webkit-user-select:none;background-image:url(../images/arrow.png),-webkit-linear-gradient(#fafafa,#f4f4f4 40%,#e5e5e5);background-image:url(../images/arrow.png),-o-linear-gradient(#fafafa,#f4f4f4 40%,#e5e5e5);background-image:url(../images/arrow.png),-moz-linear-gradient(#fafafa,#f4f4f4 40%,#e5e5e5);background-position:center left;cursor:pointer;background-repeat:no-repeat;text-overflow:ellipsis;white-space:nowrap;padding-left:34px;border-left:none}input{direction:rtl}​ select:focus{border-bottom:1px solid #9a9a9a;border-right:2px solid #3fa5ed}select option{padding-right:10px}input.warning{border:1px solid #e67676;background:#ffdcdc;background:-webkit-gradient(linear,0% 0,0% 100%,from(#ffdcdc),to(#fdabab));background:-moz-linear-gradient(0% 90% 90deg,#ffdcdc,#fdabab);background:-o-linear-gradient(0% 90% 90deg,#ffdcdc,#fdabab)}input.warning:hover{background:#fdabab}input[type='radio'],input[type='checkbox']{}input[type='radio']+label,input[type='checkbox']+label{margin:0;clear:none;display:inline-block;padding:0 17px 0 0;cursor:pointer;background:url(../images/off.png) right center no-repeat}input[type='radio']:checked+label{background-image:url(../images/radio.png)}input[type='checkbox']:checked+label{background-image:url(../images/check.png)}span.ch label{padding:15px 17px 15px 0}table.grid{border-collapse:collapse;margin:5px 0 5px 0}table.grid tr{background:#f8f8f8}table.grid th,table.grid td{direction:rtl;border-width:1px;border-right:0;border-left:0;border-style:solid}table.grid tr.alt{background:#e7e7e7}table.grid tr td{border:1px solid #f1f1f1}table.grid tr.alt td{border:1px solid #e0e0e0;border-top-color:#d6d6d6}table.grid td{border-color:#aeaeae;padding:7px 3px}table.grid tr.footer,table.grid th{padding:3px;background:#72b626;color:#fff;font-size:14px;font-weight:normal;border-width:1px}table.grid tr.footer td{border:1px solid #f1f1f1;padding:3px}table.grid tr.pager{background:#ce873c;border:0;padding:0;border:1px solid #dcdcdc;border-top:0}table.grid tr.empty{background:#fff}table.grid tr.empty td{padding:15px;text-align:center}table.grid tr.pager *{background:#fff;padding:0;margin:0;border:0}table.grid tr.pager td{padding:2px}table.grid tr.pager td a,table.grid tr.pager td span{padding:1px 4px;margin:3px;border:1px solid #ddd;font-family:tahoma;border-radius:5px;color:#8a8686}table.grid tr.pager td a{background:#f2f2f2;border-color:#a49d9d;color:#b05a00}p.empty{background:#fff;padding:15px;text-align:center}table.messagebox{margin:0;cursor:pointer}table.messagebox tr td{border:0;padding:0;vertical-align:top}table.grid.en,table.grid.en td,table.grid.en tr{direction:ltr;text-align:left}table.grid.en tr:hover{background:#fff}table.grid.en tr td span[onclick*="javascript"]{color:#0090ff;cursor:pointer}table.grid.en tr td img.folder{margin-bottom:-3px}table.grid.en tr td img.fileimg{border:1px solid #ccc;padding:1px;max-width:70px;max-height:50px;float:right;margin-left:5px}table.grid.en tr td a{display:inline-block}.sorting{width:9px;float:left;padding-top:7px}.sorting a{position:absolute;padding:0;margin:0}.sorting a img{margin:0;padding:0}.sorting a:last-child{margin-top:7px}.hr{border:0;background:url("../images/hseprate.png") repeat-x transparent;height:2px;width:100%;clear:both}.hr.sp{margin:10px 0}div.spacer{padding:0;height:0;margin:20px 0;clear:both}.smallimg{margin-top:-8px;display:inline-block}.largimg{margin-bottom:-6px;margin-left:2px;width:20px}.newimg{float:left;max-height:100px;max-width:100px;background:#fff;border:1px solid #ddd;margin-bottom:3px;margin-top:-7px;margin-left:10px}#tooltip{transition-duration:.2s;-moz-transition-duration:.2s;-webkit-transition-duration:.2s;-o-transition-duration:.2s;transition-delay:.2s;-moz-transition-delay:.2s;-webkit-transition-delay:.2s;-o-transition-delay:.2s;direction:rtl;text-align:justify;position:absolute;background:#747474;padding:5px 7px;color:#fff;display:none;font:11px Tahoma;max-width:200px;text-shadow:0 1px 1px #262628;box-shadow:1px 1px 2px #262628;border:1px solid #565656;font:normal 13px "b yekan","byekan",tahoma,arial;line-height:18px;z-index:1420}#Paging{height:19px;background-color:#fff;border:1px solid #dcdcdc;margin:0 auto;padding:5px}#Paging a{border:solid 1px #222;display:block;float:right;text-align:center;color:#3b3a37;background-color:#fff;margin-right:3px;font:8pt tahoma;text-decoration:none;padding:2px 5px}.CurrentPage{margin-right:3px;border:solid 1px #222;display:block;font:8pt tahoma;background-color:#b05a00;color:#fff;font-weight:700;float:right;padding:2px 5px}#Paging div{float:left;direction:rtl;font:9pt tahoma}#Paging a:hover,#Paging a:active{background-color:#fff;color:#fff}ul.liststyle{list-style:circle;margin-right:40px}ul.liststyle li{padding:1px 0}.search{background:#dadada;border:1px dashed #a9a9a9;border-bottom:0;margin-bottom:-5px;border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;-o-border-radius:5px 5px 0 0;padding:2px 8px 0 0;-webkit-border-radius:5px 5px 0 0;padding-left:10px}.search span{display:inline-block;width:60px}.search input[type='text']{padding:5px 4px;box-shadow:none;border-color:#c6c6c6;padding-left:26px;width:180px;font-size:12px}.search input[type='text']:focus{border-left-width:1px}.search input[type='text']+img{position:relative;right:-30px;bottom:-7px}.search select{margin:0;float:left;padding:3px 2px;margin-top:2px;min-width:150px;padding-left:34px;margin-right:10px;color:#636363}.search input[type="submit"]{display:none}.gridbottom{background:#dadada;border:1px dashed #a9a9a9;border-top:0;margin-top:-5px;margin-bottom:-5px;border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;-webkit-border-radius:0 0 5px 5px;-o-border-radius:0 0 5px 5px;padding:4px 8px 5px 8px;-webkit-border-radius:0 0 5px 5px}.halfleft{float:left;width:445px}.halfleft .ck{width:220px;display:inline-block;overflow:hidden;margin-bottom:5px}.rounded{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px}.imagelist{width:118px;height:170px;background:#fff;border:1px dashed #dcdcdc;padding:4px;text-align:center;display:inline-block;float:right;margin:2px;position:relative;line-height:1}.imagelist div{position:absolute;bottom:0}.imagelist div{margin-bottom:10px}.imagelist a img{max-width:105px;max-height:110px}.imagelist a{font-family:tahoma;padding:0 5px}.imagelist a:first-child{margin:0 auto;display:block;padding:0}.imagelist a:last-child{color:#f00}.imagelist p{font:normal 12px tahoma;color:#7d7d7d;padding:0;margin:0;line-height:100%;height:26px;overflow:hidden}.editimg{max-height:160px;max-width:160px;float:left;background:#fff;padding:2px;border:1px dashed #dcdcdc}.manageproductlist{max-height:70px;max-width:70px;float:left;margin:0 7px 0 2px;padding:1px;border:1px dashed #ccc}.subtitle{color:#777;font-size:12px;font-family:"b yekan","byekan",tahoma}span.helper{color:#898989}p.helper{margin:0 -10px 10px -10px;font:normal 13px "b yekan","byekan",tahoma;padding:7px 10px;color:#898989;padding-right:60px;line-height:17px;background:#f6f6f6 url('../images/question.png') right center;background-repeat:no-repeat}span.ess{color:#ff2525;font-weight:bold;display:inline-block;margin:0 4px}div.advstar{float:right;width:21px;text-align:right}div.advstar img{border:0;width:11px;margin:0;padding:0;float:right}.groupname,.groupname p{font:normal 13px "b yekan","byekan",tahoma;line-height:21px;color:#3b3b3b;margin:0;padding:0}.groupname p{line-height:normal;width:240px;float:right;display:inline}.groupname a{color:#006ddc;text-shadow:1px 1px 1px #e8e8e8}.groupname .title{font:bold 17px "b yekan","byekan",tahoma;display:block;margin-bottom:6px}img.advimg{float:right;margin:0 9px}.groupname span{color:#f00}.gridbtn{font:normal 13px "b yekan","byekan",tahoma;background:#e8e8e8;padding:3px 10px;margin:5px;display:inline-block;border:1px solid #c3c3c3;box-shadow:2px 2px 2px #aaa}.gridbtn:hover{box-shadow:1px 1px 2px #aaa}.gridbtn:focus{box-shadow:none}.gridbtn img{vertical-align:middle;width:24px}.options{background:#eee;border:1px solid #ddd;margin-top:3px;padding:4px}.options a{margin:0 10px}.options a img{vertical-align:middle;max-width:16px;margin:0 2px}.advlist{padding:5px 10px}.advlist a{color:#006ddc}ul.reminder li{background:#fff;margin:2px 0;border:1px solid #ddd;padding:0 2px}ul.reminder li:last-child{background:0;border:0;margin-top:10px}ul.reminder li a{padding:4px 0;display:inline-block;font:normal 13px "b yekan","byekan",tahoma,tahoma}ul.reminder li img{vertical-align:middle;margin:0 3px;width:16px}.lbl{width:90px}.keywords a{display:inline-block;font-family:tahoma;padding:0 4px;margin:2px;padding-left:6px;font-size:12px;background:#73ac00;border:1px solid #507800;text-shadow:1px 1px 1px #314803;color:#fff}.keywords a:hover{color:#000;background:#ccc;border:1px solid #444;text-shadow:none}.adslider div.pic{width:110px;height:100px;padding:3px 2px;float:right;margin:3px 2px;text-align:center}.adslider img{max-width:110px;max-height:100px;box-shadow:1px 1px 2px #aaa}.tooltip{border:0;color:#000;outline:0;cursor:pointer;text-decoration:none;position:relative;text-align:right}.tooltip span{margin-right:-999em;position:absolute;overflow:hidden;display:none}.tooltip:hover span{display:block;border-radius:4px 4px;-moz-border-radius:2px4px -webkit-border-radius:4px;box-shadow:2px 5px 5px rgba(0,0,0,0.1);-webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.1);-moz-box-shadow:2px 2px 2px rgba(0,0,0,0.1);font-family:tahoma,Geneva,sans-serif;line-height:20px;position:absolute;left:-90px;top:1.2em;z-index:99;margin-left:0;width:250px;color:#343434}.tooltip:hover{border:0}.tooltip:hover p{color:#00b50d;font:normal 16px "b yekan","byekan",tahoma;display:block;padding:0;margin-bottom:6px}.classic{padding:8px 12px}* html a:hover{background:transparent}.classic{background:#f9f9f9;border:1px solid #b3b3b3}
.bloga h2 a {
font: normal 20px "b yekan","byekan",tahoma;}
h2 span,.viewsitetag{font-family:"b yekan","byekan",tahoma;}

.ticketdetails{background:#f9f9f9;height:20px; padding:4px 10px 0 10px;  box-shadow:0 0 2px #787878; margin:-5px -5px 10px -5px;}
.ticketdetails span{display:inline-block;font:normal 12px "b yekan","byekan",tahoma}

input[type=text],input[type=password],textarea
{
	border:solid 1px #dcdcdc;
	color:#4e4e4e;
	font:normal 12px tahoma;
	margin-bottom:5px;
	display:inline; 
	border-radius:5px;
	-webkit-border-radius:5px;
	outline:0;
	padding:9px;

    background:#fff;
  background-image:
    -webkit-linear-gradient(#fff, #fff 40%, #f1f1f1);
    
  background-image:
    -o-linear-gradient(#fff, #fff 40%, #f1f1f1);
  background-image:
    -moz-linear-gradient(#fff, #fff 40%, #f1f1f1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

input[type=text]:focus,input[type=password]:focus,textarea:focus
{
	border-bottom:1px solid #9a9a9a;
	border-left:1px solid #3fa5ed;
	outline:0; 
}

textarea 
{
    min-height:60px;
  outline: none;resize: none; 
}
input.ltr{direction:ltr;text-align:left;}
 

input[type='file']
{ 
    
    border: solid 1px #dcdcdc;
 min-width:100px;
 margin-bottom:5px;
	font:normal 13px tahoma;
	padding: 3px 9px;
	display:inline;
  color:#4e4e4e;
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  cursor:pointer; 
	
	  border: solid 1px #dcdcdc;
 
	background: 
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background: 
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	background: 
		 -o-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
			 border-radius: 7px;
  -webkit-border-radius: 7px;
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
         outline: none;	
}
input[type=submit],a.button
{
	font:normal 16px "b yekan",byekan,tahoma;
	cursor:pointer;
	color:#000;
    background:#fff;

	box-shadow:1px 1px 1px #d9d9d9;
	text-decoration:none;
	border:1px solid #c6c6c6;
	text-align:center;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	padding:3px 15px;

}

input[type=submit]:hover,a.button:hover,input[type=submit]:focus,a.button:focus
{
	background:#ececec;
}

input[type=submit]:active,a.button:active,.gridbtn:focus
{
	box-shadow:none;
}


p.forgotpassp {
    margin:10px 0 0 0;
    cursor:pointer;
}
    p.forgotpassp img {
        margin-bottom:-5px;
    }
.forgotpassdiv {
    display:none;
    background:#f8f8f8;
    padding:7px;
    border-radius:5px;
    -moz-border-radius:5px;
    border:1px solid #ececec;
}


.captcha {
    float:left;
    display:inline-block;
}
.capchatext {
    margin:2px; text-align:center;padding:4px !important; letter-spacing:10px; 
    direction:ltr;
    font-size:21px !important;
    font-weight:bold !important
}


.editor{
 direction:rtl;
font:normal 13px tahoma;
 padding:0;
 background:#fff;
 }
.editor b
{
    font-weight:bold;
}

.editor i
{
    font-style:italic;
}
 