
	/* @font-face */
 @font-face {
  font-family: 'bbc';
 
  src: url("../Styles/Fonts/bbc-nassim-regular.eot");
 
  src: local("☺"),
  url("../Styles/Fonts/bbc-nassim-regular.ttf") format("opentype"),
    url("../Styles/Fonts/bbc-nassim-regular.woff") format("woff"),
    url("../Styles/Fonts/bbc-nassim-regular.otf") format("opentype");
    
} 


*
{
direction:rtl;
font-family:'bbc';
outline:none !important;

    }

.h1logo a
{
    background: url("../images/logo.png") no-repeat scroll center center transparent;
    display: inline-block;
    float: right;
    height: 27px;
    margin-top: 10px;
    outline: medium none;
   
    text-indent: -9999px;
    width: 200px;
}

.navbar .brand, .navbar .nav > li > a 
{
   
  
    }
    
.bigsignup
{
    background:#72B626;
    height:75px;
    display:block;
    font-size:32px;
    color:#fff !important;
    text-align:center;
    padding-top:25px;
    margin-bottom:5px
}

.banner 
{
    text-align:center;
    background-color:Black;
    float: right;
    margin-right: 5px;
    width: 450px;
}
.banner img
{
    background: url("../images/loading.gif") no-repeat scroll center center #FFFFFF;
    border: 0 none;
    height: 240px;
    margin-left: -2px;
    width: 120px;
}
.dropdown-menu ul {
    float: right;
}


.col-md-31
{
    min-height: 1px;
    font-size:14px;
    position: relative;
    padding-right:3%;
    float: right;
    width: 30%;
    
}

.col-md-3
{
    min-height: 1px;
    font-size:14px;
    position: relative;
    float: right;
    width: 30%;
    display:inline-table;
    
}

.col-md-3 h1
{
    margin:0px 0px 10px 0px;
    }
				        
.createAccountButton
{
    float:left;
    
    }				        
				        
				        
.caret
{
    margin-right:4px;
    }
			
			
.floatLeft
{
    float:left;
    text-align:left;
}	

.socialMediaButton
{
    padding:0 5px 0 5px;float:left;
    }		        
 @media screen and (max-width: 500px) {
.col-md-31,.col-md-3
{
           width: 100%;
           float:none !important;
           text-align:center;
}
.socialMediaButton
{
    padding:0 5px 0 5px;
    float:none;
    }	
.floatLeft
{   float:none !important;
           text-align:center;
    
    }

.createAccountButton
{
    float:none;
}
.social-media 
{
    margin-left:auto;
    margin-right:auto;
    width:auto;
    }




}

.featuredAdv
{
    width:28%;
    }

.span3.hero-unit.featuredAdv:hover
{
   
  -moz-box-sizing: border-box;
    border-top: 0 none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    top: -2px;
    }
.span3.hero-unit.featuredAdv
{
    background-color:#f4f4f4;
    margin:1% 4% 1% 1%;
    float:right;
    height:auto;
    background-clip: padding-box;
    border-radius: 5px 5px 5px 5px;
    display: block;
   
    position: relative;
    top: 0;
 transition: box-shadow 100ms linear 0s, top 100ms linear 0s;
    }


@media screen and (max-width: 500px) {
.featuredAdv
{
    width:46%;
    }
}

.latestwork h1 i
{
    vertical-align:-1px;
    color:#ffd700;
   }
   
 .latestwork h1 
    {
        font-size:24px;
        }
        
.latestwork .advContainer
{
    text-align:center;
    vertical-align:middle;
    padding:0;
    margin:0;
    width:100%;
    height:200px;
    overflow:hidden
    }
    
.latestwork img
{
    height:  100%;display: inline-block; width: auto;}
    
.AdvDesc h3 i
    {
        vertical-align:-2px;
        margin-left:3px;
        margin-right:5px;
        color:#72b626;
        }
        
 .AdvDesc
 {
     overflow:hidden;height:100px;width:95%;display:inline-block;
 }
 
 .AdvDesc2
 {
     overflow:hidden;height:80px;width:95%;display:inline-block;
 }
     
 .AdvDesc2 h3
 {
     font-family:'bbc';color:#777;padding-right:5px;
 }
 .info-column i
 {
     color:#72b626;
 }
 .MoreDesc
 {
     padding-right:5px;
     }
 
 .MoreDesc p
 {
     line-height:25px !important;
     height:50px;
     overflow:hidden;
     }
     
 .DetailBtn
 {
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
        
 .DetailBtn a
 {
     padding-right:7px;
     padding-left:7px;
     float:left;
     margin-left:15px
 }

.NewAdvHeader h2
{
    font-size:20px;
    margin:0px 25px 20px 0px;
    border-color:transparent;
    padding:8px 10px 8px 14px;
    border-right:5px solid #b1d700 ;
}
    
  .sliderkit-panel .icon-sun   
  {
     color:#ffd700;
     vertical-align:-3px;
     margin-left:0px;
  }
  .caroufredsel_wrapper
  {
      float:right !important;
      }
				.caroufredsel_wrapper	#intro {
				width: 580px;
				margin: 0 auto;
			}
			.caroufredsel_wrapper .wrapper {
				background-color: white;
				width: 480px;
				margin: 40px auto;
				padding: 50px;
				box-shadow: 0 0 5px #999;
			}
			.caroufredsel_wrapper .list_carousel {
				background-color: #ccc;
				margin: 0 0 30px 60px;
				width: 360px;
			}
			 .caroufredsel_wrapper ul {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			 .caroufredsel_wrapper li {
				font-size: 15px;
				text-align: right;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
				width: 50px;
				
				padding: 0;
				margin: 6px;
				margin-right:15px;
				margin-left:15px;
				display: block;
				float: left;
				overflow:hidden;
			}

			.caroufredsel_wrapper .clearfix {
				float: none;
				clear: both;
			}
			.caroufredsel_wrapper .prev {
				float: left; 
				margin-left: 10px;
			}
			.caroufredsel_wrapper .next {
				float: right;
				margin-right: 10px;
			}
			.caroufredsel_wrapper .pager {
				float: left;
				width: 300px;
				text-align: center;
			}
			.caroufredsel_wrapper .pager a {
				margin: 0 5px;
				text-decoration: none;
			}
			.caroufredsel_wrapper.pager a.selected {
				text-decoration: underline;
			}
			.caroufredsel_wrapper .timer {
				background-color: #999;
				height: 6px;
				width: 0px;
			}
		    
		 
    
    .pager a
    {
        display: inline-block;
        *border-bottom: 0 none #a2a2a2;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        margin-left: .3em;
        padding:1px 3px 1px 3px;
        min-width:15px;
        font-size:100%;background-color:#7fcb2a;color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;
    }
    .pager span
    {
        margin-right:5px;
        }
        
    #prev3
    {
        float:right;
        padding-top:32px;
    }
    #next3
    {
        float:right;
        padding-top:35px;
    }
    
    .clear,.spacer {
    clear:both;
    display:block;
    overflow:hidden;
    visibility:hidden;
    width:0;
    height:0}
.spacer {
    margin-bottom:20px
    }
.rtl, .rtl td ,.rtl tr
{
    direction:rtl !important;
    text-align:right !important;
    }
    
    
.yamm .nav,
.yamm .dropup,
.yamm .dropdown,
.yamm .collapse {
  position: static;
}
.yamm .navbar-inner,
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .dropdown-menu > li {
  display: block;
}
.yamm .nav.pull-right .dropdown-menu {
  right: 0;
}
.yamm .yamm-content {
  padding: 20px 30px;
  *zoom: 1;
}
.yamm .yamm-content:before,
.yamm .yamm-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.yamm .yamm-content:after {
  clear: both;
}
.yamm.navbar .nav > li > .dropdown-menu:after,
.yamm.navbar .nav > li > .dropdown-menu:before {
  display: none;
}
.yamm .dropdown.yamm-fullwidth .dropdown-menu {
  width: 100%;
  left: 0;
  right: 0;
}
@media (max-width: 969px) {
  .yamm .dropdown.yamm-fullwidth .dropdown-menu {
    width: auto;
  }
  .yamm .yamm-content {
    padding-left: 0;
    padding-right: 0;
  }
  .yamm .dropdown-menu > li > ul {
    display: block;
  }
}

.AdlistIcon, .AdlistIcon i
{
    display:inline-block;
    padding-left:3px;
    color:#72b626;
}

.AdlistIcon a
{
    color:Black;
}


    #full-width-slider {
  width: 100%;
  color: #000;
}
.coloredBlock {
  padding: 12px;
  background: rgba(255,0,0,0.6);
  color: #FFF;
   width: 200px;
   left: 20%;
   top: 5%;
}
.infoBlock {
  position: absolute;
  top: 30px;
  right: 30px;
  left: auto;
  max-width: 25%;
  padding-bottom: 0;
  background: #FFF;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  padding: 20px;
}
.infoBlockLeftBlack {
  color: #FFF;
  background: #000;
  background: rgba(0,0,0,0.75);
  left: 30px;
  right: auto;
}
.infoBlock h4 {
  font-size: 20px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 3px;
}
.infoBlock p {
  font-size: 14px;
  margin: 4px 0 0;
}
.infoBlock a {
  color: #FFF;
  text-decoration: underline;
}
.photosBy {
  position: absolute;
  line-height: 24px;
  font-size: 12px;
  background: #FFF;
  color: #000;
  padding: 0px 10px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  top: auto;
  border-radius: 2px;
  z-index: 25; 
} 
.photosBy a {
  color: #000;
}
.fullWidth {
  max-width: 1400px;
  margin: 0 auto 24px;
}

@media screen and (min-width:960px) and (min-height:660px) {
  .heroSlider .rsOverflow,
  .royalSlider.heroSlider {
      height: 520px !important;
  }
}

@media screen and (min-width:960px) and (min-height:1000px) {
    .heroSlider .rsOverflow,
    .royalSlider.heroSlider {
        height: 660px !important;
    }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  .royalSlider.heroSlider,
  .royalSlider.heroSlider .rsOverflow {
    height: 300px !important;
  }
  .infoBlock {
    padding: 10px;
    height: auto;
    max-height: 100%;
    min-width: 40%;
    left: 5px;
    top: 5px;
    right: auto;
    font-size: 12px;
  }
  .infoBlock h3 {
     font-size: 14px;
     line-height: 17px;
  }
}


.tooltip
{
    position:relative;
    }