
 @font-face {
  font-family: 'bbc';
 
  src: url("../Styles/Fonts/bbc-nassim-regular.eot");
 
  src: local("☺"),
  url("../Styles/Fonts/bbc-nassim-regular.ttf") format("opentype"),
    url("../Styles/Fonts/bbc-nassim-regular.woff") format("woff"),
    url("../Styles/Fonts/bbc-nassim-regular.otf") format("opentype");
    
} 

.sitemap
{
    height:30px;
    border-bottom:1px solid #f0f0f0;
    margin-bottom:10px;
    
    }

    
 .sitemap .rounded
 {
     font-size:14px;
     }


.decorative-shadow{-webkit-box-shadow:0 0 0 4px #e6e6e6;-moz-box-shadow:0 0 0 4px #e6e6e6;box-shadow:0 0 0 4px #e6e6e6}
body{color:#666;font-family:'bbc';background:#fff}
.wrapper{margin-top:20px;margin-bottom:10px}
h1,h2,h3,h4,h5,h6{color:#333}
a{color:#72b626}
a:hover{color:#588c1d;text-decoration:none}
.well{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;-webkit-box-shadow:inset 0 0 0;-moz-box-shadow:inset 0 0 0;box-shadow:inset 0 0 0;background:#f4f5f7}
.label{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;padding:2px 6px}
.centered{text-align:center}
.navbar{margin-top:20px;direction:ltr !important;}
.navbar .navbar-inner{direction:ltr !important;background-color:#2d3032;background-image:none;border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box}
.navbar .brand,.navbar .nav>li>a{direction:ltr !important;color:#fff;font-size:13px;text-shadow:none;background:url(../assets/navigation-divider.png) no-repeat right 50%}
.navbar .brand:hover,.navbar .nav>li>a:hover{direction:ltr !important;color:#fff;background:#72b626;direction:ltr !important;}
.navbar .nav>.active>a,.navbar .nav>.active>a:hover,.navbar .nav>.active>a:focus{direction:ltr !important;color:#fff;background-color:#2d3032;box-shadow:none;background:#72b626;direction:ltr !important;}
.navbar .brand:hover{direction:ltr !important;background-color:transparent}
.navbar .btn-navbar{direction:ltr !important;margin-top:5px;margin-bottom:5px;color:#fff;text-shadow:0 -1px 0 rgba(0,0,0,0.25);background-color:#222;background-image:none;background-repeat:repeat-x;border-color:#040404 #040404 black}
.navbar .btn-navbar:hover{direction:ltr !important;background-color:#222}
.navbar .nav li.dropdown.open>.dropdown-toggle,.navbar .nav li.dropdown.active>.dropdown-toggle,.navbar .nav li.dropdown.open.active>.dropdown-toggle{direction:ltr !important;background-color:#72b626;color:#fff}
.navbar .nav li.open>a{direction:ltr !important;background:0}
.dropdown-menu{direction:ltr !important;margin-top:-1px;-webkit-border-radius:0;-moz-border-radius:0;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;background-color:#2d3032}
.dropdown-menu li>a{direction:ltr !important;color:#fff}
.dropdown-menu li>a:hover,.dropdown-menu li>a:focus,.dropdown-submenu:hover>a{direction:ltr !important;background-color:#72b626;background-image:none}
.navbar .nav li.dropdown>.dropdown-toggle .caret,.navbar .nav li.dropdown.open>.dropdown-toggle .caret,.navbar .nav li.dropdown.active>.dropdown-toggle .caret,.navbar .nav li.dropdown.open.active>.dropdown-toggle .caret{direction:ltr !important;border-top-color:#fff}
.navbar .nav>li>.dropdown-menu::before,.navbar .nav>li>.dropdown-menu::after{direction:ltr !important;display:none}

.info-column
{
    
    
  
    }

.social-media{list-style:none}
.social-media li{display:inline-block}
.social-media li a{font-size:200%;}
.social-media li a:hover{-webkit-transition:all .3s;-moz-transition:all .3s;-o-transition:all .3s;transition:all .3s}
header form{margin-top:20px;text-align:right}
.portfolio{padding-top:5px}
.portfolio li{margin-left:27px}
.portfolio .thumbnail{padding:8px;-webkit-box-shadow:0 0 0 5px rgba(0,0,0,0.05);-moz-box-shadow:0 0 0 5px rgba(0,0,0,0.05);box-shadow:0 0 0 5px rgba(0,0,0,0.05)}
.portfolio .thumbnail:hover{-webkit-box-shadow:0 0 0 5px rgba(0,0,0,0.1);-moz-box-shadow:0 0 0 5px rgba(0,0,0,0.1);box-shadow:0 0 0 5px rgba(0,0,0,0.1)}
.portfolio .thumbnail a img{width:100%;height:auto}
.filter{margin-left:0;margin-bottom:40px;padding:0;list-style:none}
.filter li{display:inline-block;margin-bottom:15px;position:relative}
.filter a{margin-right:5px;padding:6px 12px;background:#454a4d;color:#fff;text-decoration:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box}
.filter a:hover{background:#72b626}
.filter span{margin-right:5px}
.filter .active{background:#72b626}
.pricing-table{position:relative;margin-left:0;padding:10px;list-style:none;text-align:center;border:1px solid #ddd;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;-webkit-box-shadow:0 0 0 5px rgba(0,0,0,0.05);-moz-box-shadow:0 0 0 5px rgba(0,0,0,0.05);box-shadow:0 0 0 5px rgba(0,0,0,0.05)}
.pricing-table li{padding-top:5px;padding-bottom:5px;border-bottom:1px dashed #ddd}
.pricing-table .footer{border:0;margin-top:18px;margin-bottom:8px}
.ribbon-wrapper{width:85px;height:88px;overflow:hidden;position:absolute;top:-3px;right:-3px}
.ribbon{font:bold 15px Sans-Serif;text-align:center;color:#304d10;text-shadow:0 1px 0 rgba(255,255,255,0.5);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);position:relative;padding:7px 0;left:-5px;top:15px;width:120px;background-color:#7fcb2a;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#7fcb2a),color-stop(100% #588c1d));background-image:-webkit-linear-gradient(top,#7fcb2a 0,#588c1d 100%);background-image:-moz-linear-gradient(top,#7fcb2a 0,#588c1d 100%);background-image:-ms-linear-gradient(top,#7fcb2a 0,#588c1d 100%);background-image:-o-linear-gradient(top,#7fcb2a 0,#588c1d 100%);background-image:linear-gradient(top,#7fcb2a 0,#588c1d 100%);-webkit-box-shadow:0 0 3px rgba(0,0,0,0.3);-moz-box-shadow:0 0 3px rgba(0,0,0,0.3);box-shadow:0 0 3px rgba(0,0,0,0.3)}
.avatar{margin-right:8px;margin-bottom:10px}
.post-img{margin-bottom:15px}
article{margin-bottom:50px}
article h3{margin-top:0}
article h3 a{color:#2d3032}
article h3 a:hover{color:#72b626}
.comment-form{padding:3px}
#widget-carousel .carousel-control{width:25px;height:25px;top:35%;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;border:0;font-size:20px;font-weight:bold;line-height:22px}
textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{padding-right:3px;padding-left:3px}
textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus{}
.tag-cloud{margin-left:0;padding:0;list-style:none}
.tag-cloud li{display:inline-block;margin-bottom:15px;position:relative}
.tag-cloud a{margin-right:5px;padding:6px 12px;border:0;background:#454a4d;color:#fff;text-decoration:none;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box}
.tag-cloud a:hover{background:#72b626}
.tag-cloud span{margin-right:5px}
.tag-cloud .active{background:#72b626}
.btn{font-size:100%;background-color:none;background-image:none;background:#5d6468;color:#fff;cursor:pointer;border:1px solid #51575a;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box;}
.btn:hover{color:#fff;background:#757d83;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;transition:all .1s ease-in-out;border-color:#5d6468}
.btn.btn-primary{background:#72b626;font-family:'bbc';border:1px solid #65a122}
.btn.btn-primary:hover{background:#7fcb2a;border:1px solid #72b626}
footer{color:#aaa;border-top:5px solid #212325;background:#2d3032}
footer h4{color:#fff;font-size:18px;font-weight:normal;text-shadow: 1px 1px 2px #000;border-bottom: 1px dashed #979596;padding-bottom:15px}
footer h4 i{vertical-align:middle;margin-left:5px}
footer ul li{margin-bottom:5px;list-style-position:inside}

footer .bottom-line{width:auto;padding:10px;background:#212325}
footer .bottom-line p{margin:0;font-size:14px;display:inline-table;}
footer hr{border-top:0;border-bottom:1px solid #454a4d}
.footer-form .btn{border:0;-webkit-box-shadow:0 0 0 0 transparent;-moz-box-shadow:0 0 0 0 transparent;box-shadow:0 0 0 0 transparent}
.footer-form .btn:hover{border:0}
.footer-form fieldset input[type="text"]{border:1px solid #000;-webkit-box-shadow:0 0 0 0 transparent;-moz-box-shadow:0 0 0 0 transparent;box-shadow:0 0 0 0 transparent}
@media(min-width:1200px){input.flexible{width:73%}
}
@media(max-width:1199px){input.flexible{width:70%}
}
@media(max-width:979px){.navbar .nav-collapse .nav>li>a,.navbar .nav-collapse .dropdown-menu a{direction:rtl !important;color:#fff}
.navbar .nav>li>a{direction:rtl !important;background:0}
.navbar .nav-collapse .nav>li>a:hover,.navbar .nav-collapse .dropdown-menu a:hover{direction:rtl !important;background-color:#2d3032}
.info-box{text-align:center}
input.flexible{width:50%}
.ltrClass{direction:rtl !important;}
                                              .six.columns.sidebarhome{display:none}
                                              .main.container{width:90% !important;}
                                              .ten.columns.maincontent{width:100% !important;}
                                              .sixtysix{width:100% !important;}
}
@media(max-width:530px){input, textarea{width:50% !important}ul.token-input-list-facebook,li.token-input-list-facebook{width:50% !important}.groups.rounded{width:100% !important;}#homebtn{width:100% !important}}
@media(max-width:280px){.EmailViewer{font-size:13px}}
@media(min-width:768px) and (max-width:979px){.footer-form input[type="text"]{width:90%}
}
@media(max-width:1080px){.main.container.AdvContent{padding-right:0px !important;}}
@media(max-width:767px){header,header form{text-align:center}
.social-media{margin:0}
footer{margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px}
footer .bottom-line{margin-left:-20px;margin-right:-20px}
.sidinside{display:none}
.sixtysix{width:100% !important;}
.col-md-3{width:100%}
}

.ltrClass,.ltr
{
    direction:ltr !important;
}
